@import "~bootstrap/scss/bootstrap.scss";

/* Navigation */

#navigation {
  background-color: $purple-500;
}

#themeButton {
  border: none;
  outline: none;
}

#themeIcon {
  color: rgba($white, 0.55);

  &:hover,
  &:active {
    color: rgba($white, 0.75);
  }
}

#languageSelect {
  border: none;
  color: rgba($white, 0.55);
  background-color: $purple-500;

  &:hover,
  &:active {
    color: rgba($white, 0.75);
  }
}

/* Projects section */

.stack-item {
  border: 1px solid $yellow-400;
  border-radius: 10%;
  background-color: $yellow-400;
  color: $gray-800;
  font-size: 0.75rem;
  padding: 0.5rem;
}
