section {
  text-align: center;
  margin-bottom: 1.5rem;
  padding-top: 3.5rem;
}

/* Projects section */

/* Skills section */

.skill {
  width: 5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

#javaIcon {
  color: #5382a1;
}

#jsIcon {
  color: #f0db4f;
}

#htmlIcon {
  color: #f16529;
}

#cssIcon {
  color: #2965f1;
}

#dockerIcon {
  color: #1390f8;
}

#gitIcon {
  color: #f1502f;
}

#githubIcon {
  color: #000;
}

#databaseIcon {
  color: #838383;
}

#linuxIcon {
  color: #000;
}

/* Contact section */

.contact-icon {
  font-size: 3rem;
}

#linkedinIcon {
  color: #0a66c2;
}
