section {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Projects section */

/* Skills section */

#javaIcon {
  color: #5382a1;
}

#jsIcon {
  color: #f0db4f;
}

#htmlIcon {
  color: #f16529;
}

#cssIcon {
  color: #2965f1;
}

#dockerIcon {
  color: #1d63ed;
}

#gitIcon {
  color: #f1502f;
}

#githubIcon {
  color: #000;
}

/* Contact section */

.contact-icon {
  font-size: 3rem;
}

#linkedInIcon {
  color: #0a66c2;
}
